$border-color: #888;
$cell-size: 50px;
$cell-border-width: 1px;

body {
    background-color: #444;
}

.wrapper {
    width: 100%;
}

.grid {
    margin: 10px auto;
    width: (($cell-size + $cell-border-width) * 9) + $cell-border-width + 4;
}

.row {
    display: flex;
}

.cell {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
    color: #ccc;
    text-align: center;
    line-height: $cell-size;
    height: $cell-size;
    width: $cell-size;
    border: $cell-border-width solid $border-color;
    margin: (-1 * $cell-border-width) 0 0 (-1 * $cell-border-width);
}

.cell:hover {
    background-color: #888;
    color: darkorange;
    font-size: 20px;
}


.bold-right-border {
    border-right-width: 3px;
}

.bold-bottom-border {
    border-bottom-width: 3px;
}