// colors
$color-primary: #FF8C00;
$border-color: #888;
$background-color: #444;

$cell-size: 50px;
$cell-border-width: 1px;

body {
    background-color: $background-color;
}

#app {
    width: 100%;
}

.grid {
    margin: 10px auto;
    width: (($cell-size + $cell-border-width) * 9) + $cell-border-width + 4;
}

.row {
    display: flex;
}

.cell {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
    color: #ccc;
    text-align: center;
    line-height: $cell-size;
    height: $cell-size;
    width: $cell-size;
    border: $cell-border-width solid $border-color;
    margin: (-1 * $cell-border-width) 0 0 (-1 * $cell-border-width);
}

.cell:hover {
    background-color: lighten($background-color, 25%);
    color: $color-primary;
    font-size: 20px;
}

.cell.active {
    background-color: #666;
    color: red;
    font-size: 20px;
}

.bold-right-border {
    border-right: 3px solid darken($color-primary, 15%);
}

.bold-bottom-border {
    border-bottom: 3px solid darken($color-primary, 15%);
}

#selector_pad {
  background-color: #AAA;
  position:absolute;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  opacity: 0;
  //-webkit-transition: opacity 1.1s ease-in-out;
  //-moz-transition: opacity 1.1s ease-in-out;
  //-ms-transition: opacity 1.1s ease-in-out;
  //-o-transition: opacity 1.1s ease-in-out;
  //transition: opacity 1.1s ease-in-out;

  .selector_row {
    display: flex;
    flex-direction: row;
  }

  .cell {
    color: darkgoldenrod;
    $selector-size: 20px;
    height: $selector-size;
    width: $selector-size;
    line-height: $selector-size;
  }

  .cell:hover {
      font-size: 16px;
  }

  &.fade {
    -webkit-animation: fade 0.3s;
    animation: fade 0.3s;
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}@keyframes fade {
   from {opacity: 0}
   to {opacity: 1}
 }