.wrapper {
    width: 100%;
}

.grid {
    margin: 10px auto;
    /* 9*50 + 9 * 1 + 1 = 460 */
    width: 460px;
}

.row {
    display: flex;
}

.cell {
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.row9 {
    border-bottom: 1px solid black;
}

.col1 {
    border-left: 1px solid black;
}